$custom-red: rgb(255, 29, 29);
$custom-white: white;

body {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
}

header {
    color: $custom-white;
    width: 100vw;

    .red-header {
        background-color: $custom-red;

        .btn-yellow {
            background-color: yellow;
            height: fit-content;
            border: 0;
            margin-left: 0 !important;
            margin-right: 0 !important;
            border-radius: 50px;
        }

        .buttton {
            height: 30px;
            width: 30px;
        }
    }

    .two-navs {
        display: none;
    }
}